@model ObjectiveManagement.Domain.Contracts.Models.ObjectiveModel
<div class="title">Детали задачи:</div>
<form class="content-form" action="" method="post">
    <div class="objective-details-item">
        <input type="text" name="Name" class="objective-details-input" placeholder="Наименование задачи" value="@Model.Name" />
    </div>
    <div class="objective-details-item">
        <textarea name="Description" class="objective-details-input" placeholder="Описание задачи" cols="30" rows="10">@Model.Description</textarea>
    </div>
    <div class="objective-details-item">
        <textarea name="Performers" class="objective-details-input" placeholder="Список исполнителей" cols="10" rows="10">@Model.Performers</textarea>
    </div>
    <div class="objective-details-item">
        <span class="date-time">
            <label for="createTime">Дата создания:</label>
            <input name="CreatedTime" class="objective-details-input date-input" type="datetime-local" id="createTime" value="@Model.CreatedTime" />
        </span>
        <span class="date-time">
            <label for="completedTime">Дата завершения:</label>
            <input name="CompletedTime" class="objective-details-input date-input" type="datetime-local" id="completedTime" value="@Model.CompletedTime" />
        </span>
    </div>
    <div class="objective-details-item">
        <span class="quantity">
            <input name="TotalEstimateTime" class="objective-details-input" type="number" placeholder="Плановая трудоёмкость задачи" value="@Model.TotalEstimateTime" />
        </span>
        <span class="quantity">
            <input name="TotalFactTime" class="objective-details-input" type="number" placeholder="Фактическое время выполнения" value="@Model.TotalFactTime" />
        </span>

    </div>
    <div class="objective-details-item">
        <div class="status-radio">
            <div class="title">Статус задачи:</div>
            @switch (Model.ObjectiveStatus)
            {
                case ObjectiveStatus.Assigned:
                    <input name="ObjectiveStatus" type="radio" id="AssignedChoice" value="@ObjectiveStatus.Assigned" checked />
                    <label for="AssignedChoice">Назначена</label>
                    <input name="ObjectiveStatus" type="radio" id="InProgressChoice" value="@ObjectiveStatus.InProgress" />
                    <label for="InProgressChoice">Выполняется</label>
                    break;
                case ObjectiveStatus.InProgress:
                    <input name="ObjectiveStatus" type="radio" id="InProgressChoice" value="@ObjectiveStatus.InProgress" checked />
                    <label for="InProgressChoice">Выполняется</label>
                    <input name="ObjectiveStatus" type="radio" id="SuspendedChoice" value="@ObjectiveStatus.Suspended" />
                    <label for="SuspendedChoice">Приостановлена</label>
                    <input name="ObjectiveStatus" type="radio" id="CompletedChoice" value="@ObjectiveStatus.Completed" />
                    <label for="CompletedChoice">Завершена</label>
                    break;
                case ObjectiveStatus.Suspended:
                    <input name="ObjectiveStatus" type="radio" id="InProgressChoice" value="@ObjectiveStatus.InProgress" />
                    <label for="InProgressChoice">Выполняется</label>
                    <input name="ObjectiveStatus" type="radio" id="SuspendedChoice" value="@ObjectiveStatus.Suspended" checked />
                    <label for="SuspendedChoice">Приостановлена</label>
                    break;
                case ObjectiveStatus.Completed:
                    <input name="ObjectiveStatus" type="radio" id="CompletedChoice" value="@ObjectiveStatus.Completed" checked />
                    <label for="CompletedChoice">Завершена</label>
                    break;
            }
        </div>
    </div>

    <div class="actions">
        @*<button asp-action="" method class="button add-objective">Добавить задачу</button>*@
        <button class="button add-subobjective">Добавить подзадачу</button>
        @if (@Model.SubObjectives.Any())
        {
            <button class="button delete-objective" hidden>Удалить задачу</button>
        }
        else
        {
            <button class="button delete-objective">Удалить задачу</button>
        }
        <button class="button save-objective">Сохранить задачу</button>
    </div>
</form>
