@model ObjectiveModel
<div class="title">Детали задачи:</div>
<form class="content-form" id="ObjectiveDetailsForm" asp-action="Update" asp-controller="Home">
    <div class="objective-details-item">
        <input asp-for="Name" class="objective-details-input" placeholder="Наименование задачи" value="@Model.Name" />
    </div>
    <div class="objective-details-item">
        <textarea asp-for="Description" class="objective-details-input" placeholder="Описание задачи" cols="30" rows="10">@Model.Description</textarea>
    </div>
    <div class="objective-details-item">
        <textarea asp-for="Performers" class="objective-details-input" placeholder="Список исполнителей" cols="10" rows="10">@Model.Performers</textarea>
    </div>
    <div class="objective-details-item">
        <span class="date-time">
            <label asp-for="CreatedTime">Дата создания:</label>
            <input asp-for="CreatedTime" class="objective-details-input date-input" id="createTime" value="@Model.CreatedTime" readonly />
        </span>
        @if (Model.ObjectiveStatus == ObjectiveStatus.Completed)
        {
            <span class="date-time">
                <label asp-for="CompletedTime">Дата завершения:</label>
                <input asp-for="CompletedTime" class="objective-details-input date-input" id="completedTime" value="@Model.CompletedTime" readonly />
            </span>
        }
    </div>
    <div class="objective-details-item">
        <span class="quantity">
            <input asp-for="EstimateTime" class="objective-details-input" value="@Model.EstimateTime" />
        </span>
        <span class="quantity">
            <input asp-for="TotalSubObjectivesEstimateTime" class="objective-details-input" value="@Model.TotalSubObjectivesEstimateTime" readonly />
        </span>
        <span class="quantity">
            <input asp-for="FactTime" class="objective-details-input" value="@Model.FactTime" />
        </span>
        <span class="quantity">
            <input asp-for="TotalSubObjectivesFactTime" class="objective-details-input" value="@Model.TotalSubObjectivesFactTime" />
        </span>

    </div>
    <div class="objective-details-item">
        <div class="status-radio">
            <div class="title">Статус задачи:</div>
            @switch (Model.ObjectiveStatus)
            {
                case ObjectiveStatus.Assigned:
                    <input asp-for="ObjectiveStatus" id="AssignedChoice" value="@ObjectiveStatus.Assigned" checked />
                    <label asp-for="ObjectiveStatus">Назначена</label>
                    <input asp-for="ObjectiveStatus" id="InProgressChoice" value="@ObjectiveStatus.InProgress" />
                    <label asp-for="ObjectiveStatus">Выполняется</label>
                    break;
                case ObjectiveStatus.InProgress:
                    <input asp-for="ObjectiveStatus" id="InProgressChoice" value="@ObjectiveStatus.InProgress" checked />
                    <label asp-for="ObjectiveStatus">Выполняется</label>
                    <input asp-for="ObjectiveStatus" id="SuspendedChoice" value="@ObjectiveStatus.Suspended" />
                    <label asp-for="ObjectiveStatus">Приостановлена</label>
                    <input asp-for="ObjectiveStatus" id="CompletedChoice" value="@ObjectiveStatus.Completed" />
                    <label asp-for="ObjectiveStatus">Завершена</label>
                    break;
                case ObjectiveStatus.Suspended:
                    <input asp-for="ObjectiveStatus" id="InProgressChoice" value="@ObjectiveStatus.InProgress" />
                    <label asp-for="ObjectiveStatus">Выполняется</label>
                    <input asp-for="ObjectiveStatus" id="SuspendedChoice" value="@ObjectiveStatus.Suspended" checked />
                    <label asp-for="ObjectiveStatus">Приостановлена</label>
                    break;
                case ObjectiveStatus.Completed:
                    <input asp-for="ObjectiveStatus" id="CompletedChoice" value="@ObjectiveStatus.Completed" checked />
                    <label asp-for="ObjectiveStatus">Завершена</label>
                    break;
            }
        </div>
    </div>

    <div class="actions">
        @*<button asp-action="" method class="button add-objective">Добавить задачу</button>*@
        <button class="button add-subobjective">Добавить подзадачу</button>
        @if (@Model.SubObjectives.Any())
        {
            <button class="button delete-objective" hidden>Удалить</button>
        }
        else
        {
            <button class="button delete-objective">Удалить</button>
        }
        <button class="button save-objective">Сохранить</button>
    </div>
</form>
