<div class="main-window">
    <div class="menu box">
        <a href="#" id="addObjective" class="button button-inline button-small button-inverse"><span>Добавить задачу</span></a>
        <a href="#" id="addSubObjective" class="button button-inline button-small button-inverse"><span>Добавить подзадачу</span></a>
        <a href="#" class="button button-inline button-small button-inverse"><span>Удалить задачу</span></a>
    </div>
    <div class="objective-details box">
        @{await Html.RenderPartialAsync("_CreateObjective", new ObjectiveModel());}
    </div>

</div>

@section scripts
{
    <partial name="_ValidationScriptsPartial"/>
    <script src="~/lib/jstree/dist/jstree.js"></script>
    <script type="text/javascript">
        var appSettings = appSettings || {};
        appSettings.Urls = appSettings.Urls || {};
        appSettings.Urls.getRootItems = "@Url.Action("GetRoot", "Menu")";
        appSettings.Urls.getChildrenItems = "@Url.Action("GetChildren", "Menu")";
        appSettings.Urls.getObjective = "@Url.Action("GetObjective", "Home")";
        appSettings.Urls.addObjective = "@Url.Action("CreateObjective", "Home")";
        appSettings.Urls.addSubObjective = "@Url.Action("CreateSubObjective", "Home")";

        let selectedNode = {};
        DrawTreeMenu(".tree-view");
        $(".tree-view").on('select_node.jstree',
            function(e, data) {
                $(".objective-details").load(appSettings.Urls.getObjective + "?Id=" + data.node.id);
                selectedNode.id = data.node.id;
                selectedNode.name = "Test"; /*data.node.text;*/
            });

        $("#addObjective").click(function(e) {
            e.preventDefault();
            $(".objective-details").load(appSettings.Urls.addObjective,
                function() {
                    sendFormData(".tree-view", "#CreateObjectiveForm");
                });
        });
        $("#addSubObjective").click(function(e) {
            e.preventDefault();
            $(".objective-details").load(appSettings.Urls.addSubObjective +
                "?parentId=" + selectedNode.id +
                "&objectiveName=" + selectedNode.name,
            function() {
                    sendFormData(".tree-view", "#CreateObjectiveForm");
                });
        });
    </script>
}

